* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url("../img/white.jpg") repeat fixed 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin-top: 0em;
}

.background {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px 10px #b6b4b4;
          box-shadow: 0px 0px 50px 10px #b6b4b4;
}

i {
  font-size: 2em;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  opacity: 0.5;
  width: 100%;
  min-width: 300px;
  background: #f0f0f0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px 5px #636363;
          box-shadow: 0px 0px 20px 5px #636363;
}

.navbar:hover {
  background: #f0f0f0;
  opacity: 1;
}

.navbar .nav-link {
  color: #323232;
}

.navbar li {
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: wheat;
}

.navbar li a:hover {
  color: #43adb3;
  font-weight: 500;
}

.bonjour h1 {
  margin-top: 1em;
  text-align: center;
}

.divHeader {
  background: white;
  margin-top: -10em;
  height: auto;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.divHeader .patrick {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 6em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  -webkit-transition: font-family 1s;
  transition: font-family 1s;
}

.divHeader .moi .imgmoi {
  margin: auto;
  min-height: 100px;
  min-width: 80px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 5px 0px #828282, 0px 0px 5px 5px rgba(196, 196, 196, 0.8);
          box-shadow: inset 0px 0px 5px 0px #828282, 0px 0px 5px 5px rgba(196, 196, 196, 0.8);
}

.divHeader h2 {
  text-align: center;
  margin-bottom: 1%;
}

.divHeader .detailsgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.divHeader .detailsgrid details {
  width: 400px;
  margin: 0em 0.5em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.divHeader .detailsgrid details h4, .divHeader .detailsgrid details ul, .divHeader .detailsgrid details li {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #656565;
  list-style: none;
}

.divHeader .detailsgrid details summary {
  list-style: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.divHeader .detailsgrid details summary:hover {
  background: white;
  -webkit-box-shadow: inset 0px 0px 10px 2px #656565;
          box-shadow: inset 0px 0px 10px 2px #656565;
}

.divPresentation {
  height: auto;
  width: 90%;
  min-width: 300px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  border: none;
  border-radius: 10px;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
  -webkit-box-shadow: inset 0px 0px 10px 5px #d8d8d8;
          box-shadow: inset 0px 0px 10px 5px #d8d8d8;
}

.divPresentation h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.flexMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexMe .flexMoi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexMe .flexMoi .moi {
  margin: auto;
}

.flexMe .flexMoi .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 2em;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills img {
  max-width: 5em;
  max-height: 5em;
  margin: 1em;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.skills img:hover {
  max-width: 0em;
  max-height: 0em;
  margin: 0em;
}

.grid {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "projet1 projet1" "projet2 projet2" "projet3 projet3" "projet4 projet4" "projet5 projet5" "projet6 projet6";
  grid-gap: 10px;
}

.grid div {
  border: wheat solid;
  padding: 2em;
  text-align: center;
}

.grid div:nth-child(even) {
  background-color: #793737;
}

.grid div:nth-child(odd) {
  background-color: steelblue;
}

.grid .projet1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet1;
}

.grid .projet2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet2;
}

.grid .projet3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet3;
}

.grid .projet4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet4;
}

.grid .projet5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet5;
}

.grid .projet6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: projet6;
}

.flexadress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.flexlink {
  margin: 5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.flexlink i {
  font-size: 3em;
  color: black;
}

.flexcv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexcv .cv {
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 250px;
  min-width: 200px;
  border-radius: 50px;
  padding: 1em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border: 1px solid;
}

.flexcv .cv:hover {
  border: 1px solid white;
  background: white;
  -webkit-box-shadow: inset 0px 0px 10px 2px #656565;
          box-shadow: inset 0px 0px 10px 2px #656565;
}

.bodyBackground {
  background: #2f2f2f;
  background: url("../img/black.jpg") repeat fixed 100%;
  color: white;
}

.bodyBackground .navbar {
  background: #2f2f2f;
  -webkit-box-shadow: 0px 0px 20px 5px #8c8c8c;
          box-shadow: 0px 0px 20px 5px #8c8c8c;
}

.bodyBackground .navbar .nav-link {
  color: #fcfcfc;
}

.bodyBackground .navbar .nav-link :hover {
  color: #7abcff;
}

.bodyBackground .cv {
  background: #2f2f2f;
}

.bodyBackground .cv:hover {
  background: #2f2f2f;
  -webkit-box-shadow: 0px 0px 10px 2px #656565, inset 0px 0px 10px 2px #656565;
          box-shadow: 0px 0px 10px 2px #656565, inset 0px 0px 10px 2px #656565;
}

.bodyBackground .divHeader {
  background: #2f2f2f;
}

.bodyBackground .divPresentation {
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 10px 0px gray, 0px 0px 10px 0px gray;
          box-shadow: inset 0px 0px 10px 0px gray, 0px 0px 10px 0px gray;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
}

.bodyBackground .flexcv .cv {
  border: 1px solid #2f2f2f;
  color: white;
}

.bodyBackground .skills img {
  background: white;
  border-radius: 2em;
  -webkit-box-shadow: inset 0px 0px 20px 2px #a7a7a7;
          box-shadow: inset 0px 0px 20px 2px #a7a7a7;
}

.bodyBackground .skills img:hover {
  max-width: 15em;
  max-height: 15em;
  margin: -0.5em;
  border-radius: 10em;
  -webkit-box-shadow: inset 0px 0px 20px 2px #a7a7a7, 0px 0px 20px 1px white;
          box-shadow: inset 0px 0px 20px 2px #a7a7a7, 0px 0px 20px 1px white;
}

.bodyBackground .flexlink i {
  color: white;
}

.bodyBackground summary:hover {
  color: black;
  background: white;
  -webkit-box-shadow: inset 0px 0px 10px 2px #656565;
          box-shadow: inset 0px 0px 10px 2px #656565;
}
/*# sourceMappingURL=toggle.css.map */